<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<mat-sidenav-container autosize>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">  
            <div class="row content">
                <div class="col-2"></div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-6">
                            <h1 class="text-center">Prof</h1>
                            <img [src]="imageUrl" class="rounded-circle" width="150px" height="150px" alt="..." style="margin-left: 33%;">
                            <input type="file" id="fileProf" (change)="onFileSelectedProf($event)" hidden>
                            <button class="btn btn-customize"  (click)="fileProfClick()" type="button" style="margin-top: 6%;width: 30%;margin-left: 36%;">
                                Ajouter photo
                            </button>
                        </div>
                        <div class="col-6">
                            <h1 class="text-center">Matière</h1>
                            <img [src]="imageUrlM" class="" width="150px" height="150px" alt="..." style="margin-left: 33%;">
                            <input type="file" id="fileMatiere" (change)="onFileSelectedMatiere($event)" hidden>
                            <button class="btn btn-customize"  (click)="fileMatiereClick()" type="button" style="margin-top: 6%;width: 30%;margin-left: 36%;">
                                Ajouter photo
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <mat-form-field appearance="outline">
                            <mat-label>Titre matière</mat-label>
                            <input matInput formControlName="nom">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Séléctionner une prof </mat-label>
                            <mat-select formControlName="professeur">
                              @for (prof of profs; track prof) {
                                <mat-option [value]="prof.value">{{prof.viewValue}}</mat-option>
                              }
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="row mt-2" *ngIf="!isLoading; else spinner">
                            <button class="btn btn-form" type="submit">{{matiereId ? 'Modifier' : 'Ajout'}}</button>
                        </div>
                        <ng-template #spinner>
                            <div class="spinner">
                              <mat-spinner [diameter]="30"></mat-spinner>
                            </div>
                        </ng-template>
                        <div class="text-danger text-center" *ngIf="messageError">{{messageError}}</div>
                    </div>
                        <!-- <div class="row">
                            <div class="col">
                                <h1>Prof</h1>
                                <div class="photo">
                                    <img [src]="imageUrl" class="rounded-circle" width="150px" height="150px" alt="...">
                                </div>
                                <div class="btn-photo">
                                    <input type="file" id="fileProf" (change)="onFileSelectedProf($event)" hidden>
                                    <button class="btn btn-customize"  (click)="fileProfClick()" type="button">
                                       Ajouter photo
                                    </button>
                                </div>
                            </div>
                            <div class="col">
                                <h1>Matiere</h1>
                                <div class="photo">
                                    <img [src]="imageUrlM" class="" width="150px" height="150px" alt="...">
                                </div>
                                <div class="btn-photo">
                                    <input type="file" id="fileMatiere" (change)="onFileSelectedMatiere($event)" hidden>
                                    <button class="btn btn-customize" (click)="fileMatiereClick()" type="button">
                                       Ajouter photo
                                    </button>
                                </div>
                
                            </div>
                            <div class="text-danger text-center" *ngIf="messageError">{{messageError}}</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                        <mat-form-field appearance="outline" class="titre-matiere">
                                            <mat-label>Titre matière</mat-label>
                                            <input matInput formControlName="nom">
                                        </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline" class="titre-prof">
                                        <mat-label>Séléctionner une prof </mat-label>
                                        <mat-select formControlName="professeur">
                                          @for (prof of profs; track prof) {
                                            <mat-option [value]="prof.value">{{prof.viewValue}}</mat-option>
                                          }
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div class="row mt-2" *ngIf="!isLoading; else spinner">
                                    <button class="btn btn-form" type="submit">{{matiereId ? 'Modifier' : 'Ajout'}}</button>
                                </div>
                                <ng-template #spinner>
                                    <div class="spinner">
                                      <mat-spinner [diameter]="30"></mat-spinner>
                                    </div>
                                </ng-template>
                            </div>
                        </div> -->
                  
                </div>
            </div>
        </form>
    </div>
</mat-sidenav-container>