<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<mat-sidenav-container autosize>
    <div class="container">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-10">
                <h2 style="text-align: center;font-size: 39px;">Ajout</h2>
                <div class="row">
                    <mat-stepper linear #stepper>
                        <mat-step [stepControl]="firstFormGroup">
                          <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>Titre assignment et date rendu</ng-template>
                            <div class="row">
                              <div class="col-6" style="display: grid;">
                                <mat-form-field appearance="outline">
                                  <mat-label>Titre</mat-label>
                                  <input matInput formControlName="titre" placeholder="Titre assignment" required>
                                </mat-form-field>
                              </div>
                              <div class="col-6" style="display: grid;">
                                <mat-form-field  appearance="outline">
                                  <mat-label>Date rendu</mat-label>
                                  <input matInput [matDatepicker]="picker" formControlName="dateDeRendu">
                                  <mat-hint>MM/DD/YYYY</mat-hint>
                                  <mat-datepicker-toggle matIconSuffix [for]="picker">
                                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                  </mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                              </div>
                            </div>
                            <div>
                              <button mat-button matStepperNext style="background-color: #126f7e;">Suivant</button>
                            </div>
                          </form>
                        </mat-step>
                        <mat-step [stepControl]="secondFormGroup">
                          <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Description et Remarque</ng-template>
                            <div class="row">
                              <div class="col-6" style="display: grid;">
                                  <mat-form-field class="example-full-width"  appearance="outline">
                                      <mat-label>Description</mat-label>
                                      <textarea matInput formControlName="description"></textarea>
                                  </mat-form-field>
                              </div>
                              <div class="col-6" style="display: grid;">
                                  <mat-form-field class="example-full-width"  appearance="outline">
                                      <mat-label>Remarque</mat-label>
                                      <textarea matInput formControlName="remarque"></textarea>
                                  </mat-form-field>
                              </div>
                            </div>
                            <div>
                              <button mat-button matStepperPrevious>Retour</button>
                              <button mat-button matStepperNext style="background-color: #126f7e;">Suivant</button>
                            </div>
                          </form>
                        </mat-step>
                        <mat-step [stepControl]="threeFormGroup">
                          <form [formGroup]="threeFormGroup">
                            <ng-template matStepLabel>Auteur et Matière</ng-template>
                            <div class="row">
                              <div class="col-6" style="display: grid;">
                                  <mat-form-field appearance="outline">
                                      <mat-label>Séléctionner etudiant</mat-label>
                                      <mat-select formControlName="auteur">
                                          @for (etudiant of listeEtudiant; track etudiant) {
                                              <mat-option [value]="etudiant._id">{{etudiant.nom}} {{etudiant.prenom}}</mat-option>
                                            }
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-6" style="display: grid;">
                                  <mat-form-field appearance="outline">
                                      <mat-label>Séléctionner matière</mat-label>
                                      <mat-select formControlName="matiere">
                                          @for (matiere of listMatiere; track matiere) {
                                              <mat-option [value]="matiere._id">Matiere :{{matiere.nom}} / Prof :{{matiere.professeur}}</mat-option>
                                            }
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>
                            <div>
                              <button mat-button matStepperPrevious>Retour</button>
                              <button mat-button matStepperNext style="background-color: #126f7e;">Suivant</button>
                            </div>
                          </form>
                        </mat-step>
                        <mat-step>
                          <ng-template matStepLabel>Fait</ng-template>
                          <p>Vous avez maintenant terminé..</p>
                          <div *ngIf="!isLoading; else spinner">
                            <button mat-button matStepperPrevious>Retour</button>
                            <button mat-button (click)="addAssignment()" style="background-color: #126f7e;">Valider</button>
                          </div>
                          <ng-template #spinner>
                            <div class="spinner">
                                <mat-spinner [diameter]="30"></mat-spinner>
                            </div>
                        </ng-template>
                        </mat-step>
                      </mat-stepper>
                </div>
            </div>
        </div>
    </div>
</mat-sidenav-container>