.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px; /* Assurez-vous que les éléments à l'intérieur prennent toute la largeur */
 }
 /* .mat-step-icon-selected{
  background-color: #126f7e;
 } */